version: "3.9"
services:
  frontend:
    build: ./frontend
    ports:
      - "2137:5173"
    container_name: robsondle-frontend
    restart: always
  backend:
    build: ./backend/RobWorldeMVC
    ports:
      - "5000:5001"
    container_name: robsondle-backend
    restart: always




