.play-again {
  padding: 0.75rem 1rem;
  outline: none;
  cursor: pointer;
  background: var(--main-clr);
  border: none;
  border-radius: 8px;
  margin: 0 auto;

  &:hover {
    filter: brightness(0.8);
  }
}
