.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 1px solid #fff;
  margin: 4px;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--text-clr);
}

.green {
  background: green;
}

.yellow {
  background: yellow;
}

.black {
  background: black;
}
